<%-include('../partials/header.ejs')-%>
<h2> Users </h2>
<% users.forEach((user)=> {%>
    <ul>
    <a href="/users/<%= user._id %>"><button class="request">Send Friend Request</button></a>
    <li><%=user.avator%></li>
    <li><%=user.name%></li>
    </ul>
<%}) %>
<%-include('../partials/footer.ejs')-%>