<%-include('../partials/header.ejs')-%>

<h2> Users </h2>
<% userDisplay.forEach((user)=> {%>
    <ul>
        <img src="<%=user.avatar%>">
        <li><%=user.name%></li>
        <form action="/users/<%= user._id %>" method="POST"><button  type="submit" class="request">Send Friend Request</button></form>
    </ul>
<%}) %>

<h1>Friend Requests</h1>
<h1><%=notice %></h1>
<% requests.forEach((request) => {%>
<ul>
    <form action="/users/<%= request._id %>/friends" method="POST"><button class="request">Accept Friend Request</button></form>
    <form action="/users/<%= request._id %>/friends_method=DELETE" method="POST"><button class="request">Deny Friend Request</button></form>
<li><%= request.name %></li>
<img src='<%=request.avatar %>'>
</ul>
<%}) %>
<h1>My Friends</h1>
<% friends.friends.forEach((friend) => {%>
    <ul>
    <li><%= friend.name %></li>
    <img src='<%=friend.avatar %>'>
</ul>
<%}) %>
<%-include('../partials/footer.ejs')-%>