<%-include('../partials/header.ejs')-%>
<main>
<h1>Friend Requests</h1>
<h1><%= notice %></h1>
<% requests.forEach((request) => {%>
<ul>
    <form action="/users/<%= request._id %>/friends" method="POST"><button class="request">Accept Friend Request</button></form>
    <form action="/users/<%= request._id %>/friends?_method=DELETE" method="POST"><button class="request">Deny Friend Request</button></form>
<li><%= request.name %></li>
<img src='<%=request.avatar %>'>
</ul>
<%}) %>
<h1>My Friends</h1>
<% friends.forEach((friend) => {%>
    <ul>
        <img src='<%=friend.avatar %>'>
        <li><%= friend.name %></li>
</ul>
<%}) %>
<h1> Friend Suggestions </h1>
<% userDisplay.forEach((user)=> {%>

    <ul>
        <img src="<%=user.avatar%>" >
        <li><%=user.name%></li>
        <form action="/users/<%=user._id%>" method="POST"><button class="request">Send Friend Request</button></form>
    </ul>
<%}) %>
</main>
<%-include('../partials/footer.ejs')-%>