<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% trips.forEach((trip)=> {%>
            <li>
                 <a href="/trips/<%=trip._id%>"><%= trip.from %></a>
            </li>
            <li>
                <a href="/trips/<%trip._id%>"><%= trip.to %></a>
            </li>
            <li>
                <a href="/trips/<%trip._id%>"><%= trip.depart %></a>
            </li>
            <li>
                <a href="/trips/<%trip._id%>"><%= trip.return %></a>
            </li>
            <li>
                <a href="/trips/<%trip._id%>"><%= trip.price %></a>
            </li>
            <%}) %>
    </ul>
    <a href="/trips/new">ADD TRIP</a>
</body>

</html>