<%- include('../partials/header.ejs')-%> 
<section id="addFlight">
    <div>
        <li><%= trip.origin %> </li>
         <li><%= trip.destination %> </li>
         <li><%= trip.depart %> </li>
         <li><%= trip.return %> </li>
    </div>
    <button id="flightBtn">Pick a flight</button>
    
</section>

<%- include('../partials/footer.ejs')-%> 