<%-include('../partials/header.ejs')-%>

            <div id="flightShop">
                <% response.data.forEach((flightOffers)=> { %>
                    <form id="flightList" action="/flights/<%=id%>/new" method="POST">
                        <input id="selectFlight"type="submit" value="Add Flight To Trip">
                        <label>Price:</label><input class="inp" type="text" name="price" value="$<%= flightOffers.price.total %>" readonly>
                        <% flightOffers.itineraries.forEach((it)=> { %>
                            <% it.segments.forEach((seg)=> { %>
                                    <ul id="shopping"> 
                                            <li><label>Flight Duration:</label><input class="inp" type="text" name="duration" value="<%= seg.duration %>" readonly></li>
                                        
                                            <li><label> Origin:</label><input class="inp" type="text" name="from" value="<%= seg.departure.iataCode %>"readonly></li>
                                        
                                            <li><label> Destination:</label><input class="inp" type="text" name="to" value="<%= seg.arrival.iataCode %>" readonly></li> 
                                       
                                            <li><label>Take-Off:</label> <input class="inp" type="text" name="depart" value="<%= seg.departure.at %>" readonly></li>
                                            
                                            <li><label>Landing:</label><input class="inp" type="text" name="arrival" value="<%= seg.arrival.at %>" readonly></li>
                                    </ul>
                                
                                <% }) %>
                                <% }) %>
                            </form>

                                        <%})%>
                                    </div>
        
    
    <%-include('../partials/footer.ejs')-%>